<p id="notice"><%= notice %></p>

<p>
  <strong>Yfcasecasenumber:</strong>
  <%= @yfcase.yfcaseCaseNumber %>
</p>

<%= link_to 'Edit', edit_yfcase_path(@yfcase) %> |
<%= link_to 'Back', yfcases_path %>
